.search {
    background-color: var(--primary);
}

.search fieldset {
    border: none;
}

.search input::placeholder {
    color: var(--body-bg);
}

.search input[type="search"] {
    background-color: var(--primary);
    padding: 10px 10px 10px 75px;
    width: 90%;
    border: none;
    color: #fcfcfc;
    font-size: 1.8rem;
}

.search input[type="submit"] {
    background-color: var(--primary);
    width: 10%;
    border: none;
    color: var(--body-bg);
}